.sf{
  cursor : pointer;
}

.branche{
  color :  #795548;
}

body{
  color : /*#689f38*/ white;
}

.cantClick{
  pointer-events: none !important;
}

.contradictionIcon{
  line-height: 40px !important;
  font-size: 35px !important;

}

#scrollBtn{
  position: fixed;
  bottom: 0;
  right: 0;
  margin : 10px;

}

.findePartie .material-icons, .icon-text {
  vertical-align: middle;
}
